@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.withShadow {
  filter: drop-shadow(2vmax 2vmax 0 rgb(213, 255, 64));
}